{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Pages</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Starter Page</a>
      </li>
    </ul>
  </div>
  <div class="page-inner">
    <!-- Header Section -->
    <div class="jumbotron">
      <h1 class="display-4"><b>Welcome to FireApp</b></h1>
      <p class="lead">Your ultimate solution for managing fire stations, incidents, and firefighters.</p>
      <hr class="my-4">
      <p>Use the navigation bar to access different sections of the application.</p>
      <p style="text-align: right;">@K.R.M & B.J.C</p>
    </div>
</div>
{% endblock %}